@define-color dark #000000;
@define-color grey1 #2e3440;
@define-color grey2 #3b4252;
@define-color grey3 #434c5e;
@define-color grey4 #4c566a;
@define-color white1 #d8dee9;
@define-color white2 #e5e9f0;
@define-color white3 #eceff4;
@define-color blue1 #8fbcbb;
@define-color blue2 #88c0d0;
@define-color blue3 #81a1c1;
@define-color blue4 #5e81ac;
@define-color red #bf616a;
@define-color orange #d08770;
@define-color yellow #ebcb8b;
@define-color green #a3be8c;
@define-color purple #b48ead;

/* fix */
label:disabled { color: inherit; }
button { all: unset; }

#waybar {
  font-family: "Maple Mono SC NF";
  font-size: 13px;
  color: @dark;
}

window#waybar {
  background: transparent;
}

tooltip {
  font-family: "Maple Mono SC NF";
  background-color: @grey4;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: @blue3;
}

#workspaces {
  font-size: 20px;
  margin-top: 5px;
}

#workspaces button.focused { color: @blue2; }
#workspaces button.urgent  { color: @red; }
#workspaces button:hover   { color: @purple; }
#workspaces button {
  padding: 0px 5px;
  color: @white1;
}

#cpu,
#temperature,
#memory,
#network,
#bluetooth,
#wireplumber,
#window,
#workspaces,
#tray,
#clock
{
  margin: 5px 5px 0px 5px;
  border-radius: 60px;
  padding: 2px 8px;
}

#cpu                  { background-color: @purple; }
#cpu.warning          { color: @yellow; }
#cpu.critical         {
  background-color: @red;
  color: @yellow;
}
#workspaces           { background-color: @grey2; }
#clock                { background-color: @green; }
#bluetooth            { background-color: @yellow; }
#bluetooth.disabled   {
  background-color: transparent;
  margin: 0px;
  border-radius: 0px;
  padding: 0px 0px;
}
#network              { background-color: @blue4; }
#temperature          { background-color: @blue1; }
#memory               { background-color: @blue3; }
#temperature.critical { background-color: @red; }
#wireplumber          { background-color: @orange; }
#wireplumber.muted    { background-color: @red; }
